/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2c2b2b;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff86;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  
  hr {
    border-top: 2px solid #999;
    margin-bottom: 30px;
  }
  
  .form {
    margin-bottom: 30px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    resize: none;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-lg {
    font-size: 20px;
    padding: 10px 16px;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Responsive styles */
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
  
    textarea {
      font-size: 14px;
    }
  
    .btn-lg {
      font-size: 16px;
    }
  }

  #qrcode {
    width: 500px;
    height: auto;
    margin: 30px 15%;
  }

  .btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  